.login {
  background: #f8f8f8;
  display: grid;
  height: 100vh;
  place-items: center;
}
.login__container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.login__container > img {
  margin-top: 40px;
  height: 100px;
  margin-bottom: 40px;
  object-fit: contain;
}
.login__container > button {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: inherit !important;
  color: purple;
  background-color: white;
  border: 1px solid purple;
}
.login__container > button:hover {
  background-color: purple;
  color: white;
}
