.message {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}
.message > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  object-fit: contain;
}
.message__info {
  font-size: 14px;
  padding-left: 10px;
}
.message__timestamp {
  padding-left: 15px;
  color: gray;
  font-weight: 300;
}
